.global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Glossy Header */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);

  z-index: 50;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 14px;
  color: white;
}

.header-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
